@font-face {
  font-family: arvo;
  src: url("/fonts/Arvo/Arvo-Bold.ttf") format("truetype");
}
p {
  font-family: arvo;
  font-size: 1.3em;
  -moz-columns: #2e2e2e;
       columns: #2e2e2e;
}

button {
  padding: 0;
  width: 5em;
  height: 1.9em;
  background-color: #317d37;
  color: #a1f5a8;
  box-shadow: -1px -1px 4px 0px #45994c, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  border: none;
  font-family: arvo;
  font-size: 2em;
}

button:hover {
  background-color: #4d8c50;
  color: #d7f5dd;
}

button:active {
  box-shadow: none;
}

.inactive {
  color: #317d37;
  background-color: #4d8c50;
  box-shadow: none;
}

.inactive:hover {
  color: #317d37;
  background-color: #4d8c50;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #317d37;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

#win-status {
  visibility: hidden;
  position: fixed;
  align-self: center;
  justify-self: center;
  background-color: #61a967;
  height: 13em;
  width: 36em;
  border-radius: 42px;
  border: double 30px #317d37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#win-status p {
  font-size: 4.8em;
  margin: 0;
}
#win-status div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
#win-status button {
  transform: scale(0.8);
  width: auto;
  background-color: rgba(1, 1, 1, 0);
  padding: 0 1em;
  box-shadow: none;
  border: dashed #317d37 4.6px;
}

#empty-2 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#empty-3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.decoration {
  display: flex;
  background-image: url("/images/decoration.svg");
  background-repeat: no-repeat;
  height: 3.8em;
  width: 26em;
  transform: scale(1.2);
}

#table {
  width: 90vw;
  display: grid;
  grid-template-areas: "empty-1 dealer deck" "empty-2 player empty-3";
  grid-template-columns: 1fr 30em 1fr;
  grid-template-rows: 1fr 25em;
  height: 90vh;
  min-width: 100em;
  min-height: 48em;
}

#deck {
  position: relative;
}

#dealer-main {
  display: flex;
  justify-content: center;
  height: 100%;
}
#dealer-main #dealer-card-holder {
  position: relative;
  height: 18em;
  width: 27em;
  border: #61a967 solid 11px;
  border-radius: 83px;
  border-style: none double;
}

#player-main {
  display: grid;
  grid-template-areas: "card-holder balance" "card-holder buttons";
  grid-template-columns: 16em;
  grid-template-rows: 9.6em 1fr;
  height: 100%;
}
#player-main #player-card-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-main #player-card-section #card-bet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 90%;
  border: #61a967 solid 11px;
  border-radius: 8px;
}
#player-main #player-card-section #card-bet-container #player-card-holder {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
#player-main #player-card-section #card-bet-container #bet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #61a967;
  height: 6em;
  width: 100%;
}
#player-main #player-card-section #card-bet-container #bet p {
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}
#player-main #balance-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#player-main #balance-section #balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #61a967;
  height: 6em;
  width: 100%;
  border-radius: 8px;
  width: 11.9em;
}
#player-main #balance-section #balance p {
  margin: 0;
  text-align: center;
  line-height: 1.5em;
}
#player-main #buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
#player-main #buttons button {
  padding: 0;
  width: 5em;
  height: 1.9em;
  background-color: #317d37;
  color: #a1f5a8;
  box-shadow: -1px -1px 4px 0px #45994c, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  border: none;
  font-family: arvo;
  font-size: 2em;
}
#player-main #buttons button:hover {
  background-color: #4d8c50;
  color: #d7f5dd;
}
#player-main #buttons button:active {
  box-shadow: none;
}
#player-main #buttons .inactive {
  color: #317d37;
  background-color: #4d8c50;
  box-shadow: none;
}
#player-main #buttons .inactive:hover {
  color: #317d37;
  background-color: #4d8c50;
}

.card {
  position: absolute;
  transform-origin: center;
  height: 197px;
  width: 138.11px;
  border: none;
}

#deck-card-1 {
  background-image: url("/svg_playing_cards/backs/red2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 33%;
  left: 26%;
  transform: translate(-50%, -50%) rotate(-16deg);
}

#clubs_2 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/svg_playing_cards/fronts/clubs_2.svg");
  top: 52%;
  left: 45%;
  transform: translate(-50%, -50%) rotate(3deg);
}

#spades_ace {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/svg_playing_cards/fronts/spades_ace.svg");
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-3deg);
}

#diamonds_7 {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/svg_playing_cards/fronts/diamonds_7.svg");
  top: 48%;
  left: 46%;
  transform: translate(-50%, -50%) rotate(2deg);
}

#hearts_king {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/svg_playing_cards/fronts/hearts_king.svg");
  top: 44%;
  left: 59%;
  transform: translate(-50%, -50%) rotate(0deg);
}/*# sourceMappingURL=style.css.map */