$primary600: #317d37;
$primary400: #61a967;
$primary200: #a1f5a8;
$button-neu-shadow: #45994c;

$primary000: #d7f5dd;
$primary100: #c5f0cf;
$primary200: #a1f5a8; // given
$primary300: #7eed82;
$primary400: #61a967; // given
$primary500: #4d8c50;
$primary600: #317d37; // given
$primary700: #28652e;
$primary800: #1f4e24;
$primary900: #15371a;
$primary1000: #0c200f;

$dark: #2e2e2e;
$red: #e33540;

* {
  // border: solid $dark;
}

@font-face {
  font-family: arvo;
  src: url("fonts/Arvo/Arvo-Bold.ttf") format("truetype");
}
p {
  font-family: arvo;
  font-size: 1.3em;
  columns: $dark;
}

button {
  padding: 0;
  width: 5em;
  height: 1.9em;
  background-color: $primary600;
  color: $primary200;
  box-shadow: -1px -1px 4px 0px #45994c, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

  border-radius: 19px;
  border: none;
  font-family: arvo;
  font-size: 2em;
}
button:hover {
  background-color: $primary500;
  color: $primary000;
}
button:active {
  box-shadow: none;
}
.inactive {
  color: $primary600;
  background-color: $primary500;
  box-shadow: none;
}
.inactive:hover {
  color: $primary600;
  background-color: $primary500;
}

@mixin money-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary400;
  height: 6em;
  width: 100%;

  p {
    margin: 0;
    text-align: center;
    line-height: 1.5em;
  }
}

@mixin card-image-setting {
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin deck-card {
  background-image: url("svg_playing_cards/backs/red2.svg");
}

@mixin empty-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #317d37;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}

#win-status {
  visibility: hidden;
  position: fixed;
  align-self: center;
  justify-self: center;
  // background-color: #61a967;
  height: 13em;
  width: 36em;
  border-radius: 42px;
  border: double 17px #317d37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  // border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);

  p {
    font-size: 4.8em;
    margin: 0;
  }
  div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  button {
    transform: scale(0.8);
    width: auto;
    background-color: rgba(1, 1, 1, 0);
    padding: 0 1em;
    box-shadow: none;
    border: #317d37 4.6px;
    background-color: #317d37cc;
  }
}

#empty-2 {
  @include empty-section();
}

#empty-3 {
  @include empty-section();
}

.decoration {
  display: flex;
  background-image: url("images/decoration.svg");
  background-repeat: no-repeat;
  height: 3.8em;
  width: 26em;
  transform: scale(1.2);
}

#table {
  width: 90vw;
  display: grid;
  grid-template-areas:
    "empty-1 dealer deck"
    "empty-2 player empty-3";
  grid-template-columns: 1fr 30em 1fr;
  grid-template-rows: 1fr 25em;
  height: 90vh;
  min-width: 100em;
  min-height: 48em;
}

#deck {
  position: relative;
}

#dealer-main {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100%;
  #dealer-card-holder {
    position: relative;
    height: 18em;
    width: 27em;
    border: $primary400 solid 11px;
    border-radius: 83px;
    border-style: none double;
  }
}

#bet-window {
  visibility: collapse;
  visibility: visible;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;

  height: 100%;
  background-color: $primary400;
  width: 100%;
  button:active {
    background-color: $primary600;
  }
  button:hover {
    border: none;
  }
  button {
    background: $primary500;
    border: solid $primary700;
    border-radius: 1em;
    box-shadow: none;
    width: 2em;
    height: 2em;
  }
}

#player-main {
  visibility: collapse;
  visibility: visible;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "card-holder balance"
    "card-holder buttons";
  grid-template-columns: 16em;
  grid-template-rows: 9.6em 1fr;
  height: 100%;

  #player-card-section {
    display: flex;
    justify-content: center;
    align-items: center;

    #card-bet-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
      width: 90%;
      border: $primary400 solid 11px;
      border-radius: 8px;

      #player-card-holder {
        position: relative;
        flex-grow: 1;
        width: 100%;
      }

      #bet {
        @include money-display();
      }
    }
  }
  #balance-section {
    display: flex;
    justify-content: center;
    align-items: center;
    #balance {
      @include money-display();
      border-radius: 8px;
      width: 11.9em;
    }
  }
  #buttons {
    visibility: collapse;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    button {
      width: auto;
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-align: center;
      height: 1.9em;
      white-space: nowrap;
      background-color: $primary600;
      color: $primary200;
      box-shadow: -1px -1px 4px 0px #45994c, 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

      border-radius: 19px;
      border: none;
      font-family: arvo;
      font-size: 2em;
    }
    button:hover {
      background-color: $primary500;
      color: $primary000;
    }
    button:active {
      box-shadow: none;
    }
    .inactive {
      color: $primary600;
      background-color: $primary500;
      box-shadow: none;
    }
    .inactive:hover {
      color: $primary600;
      background-color: $primary500;
    }
  }
}

.card {
  position: absolute;
  transform-origin: center;
  height: 197px;
  width: 138.11px;
  border: none;
}

.deck-card {
  @include deck-card();
  @include card-image-setting();
}

#deck-card-0 {
  @include deck-card();
  @include card-image-setting();
  top: 33%;
  left: 26%;
  transform: translate(-50%, -50%) rotate(-16deg);
}
